
<!-- Quiz details page -->

<div class="quiz-details">
    <a [routerLink]="['/quizzes']" class="back-btn">← Retour à la liste des Quiz</a>
    <h2>{{ quiz?.name }}</h2>
  
    <p class="description">{{ quiz?.description }}</p>
  
    <div class="info">
      <p><strong>Difficulté :</strong> {{ quiz?.difficulty }}</p>
      <p><strong>Publié le :</strong> {{ quiz?.published?.toLocaleDateString() }}</p>
    </div>
  
    <a [routerLink]="['.','questions']" class="start-quiz-btn">Démarrer le Quiz !</a>
  </div>
  