
<!-- <pre>{{ questions | json }}</pre> -->
<!-- <pre>{{ serializedQuestions | json }}</pre> -->
<!-- <pre>{{ questions | json }}</pre>
<pre>{{ form.value | json }}</pre> -->

<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <div formArrayName="questions">
    <div *ngFor="let question of questions; let i = index" [formGroupName]="i">
      <p>{{ questions[i].text }}</p>
      <div *ngFor="let answer of questions[i].answers">
        <label>
          <input type="radio" formControlName="selectedAnswer" [value]="answer.text">
          {{ answer.text }}
        </label>
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

