<!-- <pre>{{ questions | json }}</pre> -->
<!-- <pre>{{ questionsForm.value | json }}</pre> -->
<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div formArrayName="questions">
      <div *ngFor="let questionControl of questionForms.controls; let i = index" [formGroupName]="i">
        <p>{{ questions()[i].text }}</p>
        <div *ngFor="let answer of questions[i].answers">
          <label>
            <input type="radio" formControlName="selectedAnswer" [value]="answer.text">
            {{ answer.text }}
          </label>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>