<!-- Navbar  -->
<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="'/'" class="brand-link">Quiz'Ynov</a>
  </div>
  <div class="navbar-links">
    <a [routerLink]="'/'" class="nav-link">Accueil</a>
    <a [routerLink]="'/quizzes'" class="nav-link">Quiz</a>
    <a [routerLink]="'/scores'" class="nav-link">Scores</a>
    <a [routerLink]="'/profile'" class="nav-link">Profil</a>
  </div>
  <div class="navbar-auth">
    <button class="auth-button" (click)="toggleAuth()">
      {{ isAuthenticated ? 'Déconnexion' : 'Connexion' }}
    </button>
  </div>
</nav>

<!-- Charge le contenu des routes dans ces balises-->
<router-outlet></router-outlet>