/* You can add global styles to this file, and also import other style files */

$tag-color-1: #d47100;
$tag-color-2: #29a8da;
$tag-color-3: #e463d3;
$tag-color-default: black;
$tag-text-color-default: white;

